<!-- Template to generate the static HTML required for this Single Page App -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Scoreboard Native</title>
</head>
<body style="font-size:46px;font-family: Roboto, sans-serif; ">
<div id="app"></div>
</body>
</html>
